doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Google

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        img(src="img/Google.png")
      section
        h2.bullet Google
        ul
          li <strong>Google Inc.</strong> adalah sebuah perusahaan multinasional Amerika Serikat yang berkekhususan pada jasa dan produk Internet.
          li Produk-produk tersebut meliputi teknologi pencarian, komputasi web, perangkat lunak, dan periklanan daring.
          li Sebagian besar labanya berasal dari AdWords.
      section
        h2.bullet Pendiri Google
        ul
          li Larry Page
          li Sergey Brin
      section
        h2.bullet Sejarah Google
        ul
          li Google si mesin pencari yang sudah sangat terkenal khususnya bagi peselancara dunia cyber.
          li Kata Google sendiri berasal dari kata Googlo, yang diciptakan oleh Milton Sirotta, keponakan Edward Kasner seorang ahli matematika AS. Sirotta membuat istilah Googlo untuk menyebutkan angka 100 yang diikuti oleh angka 0 (nol).
          li Google memiliki latar belakang sejarah yang unik, ia lahir dari sebuah pertemuan dua pemuda pada tahun 1995, Larry Page  dan Sergey Brin.

      section
        h2.bullet Produk Google
        ul
          li Google telah membuat layanan dan peralatan untuk lingkungan bisnis dan masyarakat; termasuk aplikasi web, jaringan periklanan dan solusi bagi bisnis.
          li Produk - produk Google di antaranya periklanan, aplikasi pencarian, komunikasi, telepon genggam dan hiburan.
      section
        h2.bullet Komunikasi
        p.bullet Dalam hal komunikasi, Google telah menciptakan :
        ul
          li <a href="https://www.gmail.com">Gmail</a>
          li <a href="https://www.drive.google.com">Google Drive</a>
          li <a href="https://www.docs.google.com">Google Docs</a>
          li <a href="https://www.google.com/intl/id/chrome/browser/">Google Chrome</a>
      section
        h3.bullet Telepon Genggam
        p.bullet Google membuat sebuah platform dan sistem operasi untuk telepon genggam yaitu Android
      section
        h2.bullet Aplikasi pencarian
        ul
          li Google Search
          li Google Maps
          li Google Earth

      section 
        h3.bullet Hiburan

      section
        h3 Tampilan Produk -Produk Google :
        h5 Gmail
        img(src="img/gmail.png" style="width:500px")
      section
        h3 Tampilan Produk -Produk Google :
        h5 Chrome
        img(src="img/chrome.jpg" style="width:500px")

      section
        h2.bullet Kebiasaan dan Budaya
        ul
          li Googleplex
          li "Dua puluh persen" waktu
          li Telur paskah dan lawakan Hari April Mop
          li IPO dan Budaya

      section 
        h3.bullet Prinsip Google

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild